.env

# Python
.venv/
__pycache__/
*.py[cod]

# Airflow
src/airflow/logs/
src/airflow/.airflow/
src/airflow/config/airflow.cfg

# Trained model artifacts
*.joblib
*.keras

src/modeling/data/sequences/*.npy

src/modeling/data/gmm_results/*.joblib
src/modeling/data/gmm_results/*.csv
src/modeling/data/test_results/*.npy